{{#if addNewQuestion}}
<div class="tile">
  <h2>new Q</h2>
    <form>
      <div class="form-group">
        <label for="date">date:</label>
        {{input value=date id="date" placeholder=question.date}}
      </div>
      <div class="form-group">
        <label for="author">author:</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>
      <div class="form-group">
        <label for="topic">topic:</label>
        {{input value=topic id="topic" placeholder=question.topic}}
      </div>
      <div class="form-group">
        <label for="content">content:</label>
        {{textarea input value=content id="content" placeholder=question.content}}
      </div>
      <div class="form-group">
        <label for="notes">notes:</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <a href="newPage.htm" {{action 'saveQuestion'}}>add <br> this <br> Q</a>
    </form>
  </div>
{{else}}
  <div class="tile">
    <a href="newPage.htm" {{action 'questionFormShow'}}>add <br> a <br> Q</a>
  </div>
{{/if}}
