<div class="tile">
  <h2>Q:</h2>
  {{question.date}}
  {{question.author}}
  {{question.topic}}
  {{question.content}}
  {{question.notes}}
  <br>
  {{update-question question=question update="update"}}
  <br>
  <h2>Answers:</h2>
  <br>
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
</div>
