
<div class="answer-tile">
  <div class="q-content">
    {{#link-to 'question' question.id}}"{{question.topic}}"{{/link-to}}
    <br>
    asked by: {{question.author}}
    <br>
    {{question.date}}
    <br>
    Q: {{question.content}}
    <br>
    {{question.notes}}
  </div>
</div>
