
<div class="tile">
  {{#link-to 'question' question.id}}"{{question.topic}}"{{/link-to}}
  <br>
    <div class="question-content">
      asked by: {{question.author}}
      <br>
      {{question.date}}
      <br>
      Q: {{question.content}}
      <br>
      notes: {{question.notes}}
    </div>
</div>
