{{#if updateQuestionForm}}
  <h2>update Q</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="date">date:</label>
        {{input value=date id="date" placeholder=question.date}}
      </div>
      <div class="form-group">
        <label for="author">author:</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>
      <div class="form-group">
        <label for="topic">topic:</label>
        {{input value=topic id="topic" placeholder=question.topic}}
      </div>
      <div class="form-group">
        <label for="content">content:</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>
      <div class="form-group">
        <label for="notes">notes:</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <a href="newPage.htm" {{action 'update' question}}>update this Q</a>
    </form>
  </div>
{{else}}
  <a href="newPage.htm" {{action 'updateQuestionForm'}}>update this Q</a>
{{/if}}
