{{#if updateQuestionForm}}
  <h2>Update Question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="date">Date:</label>
        {{input value=date id="date" placeholder=question.date}}
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>
      <div class="form-group">
        <label for="topic">Topic:</label>
        {{input value=topic id="topic" placeholder=question.topic}}
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <a href="newPage.htm" {{action 'update' question}}>Update this Question</a>
    </form>
  </div>
{{else}}
  <a href="newPage.htm" {{action 'updateQuestionForm'}}>Update Question</a>
{{/if}}
